<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {{>navbar}}
    <h1>hey its about {{name}}!</h1>
    {{>footer}}
</body>
</html>