.container {
  max-width: 900px; /* adjust to the desired value */
  margin: 0 auto;
}

.left-half {
  background-color: #ffffff;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: #ffffff;
  flex: 1;
  padding: 1rem;
}

.homeContainer{
    display: flex;
    width: 80%;
    height: 65vh;
    justify-content: space-around;
}