.container {
  max-width: 900px; 
  margin: 0 auto;
}

.light{
  --bg-color: white;
  --bg-image: linear-gradient(white);
  --h1-color: black;
  --p-color: black;
  --footer-color: rgb(179, 232, 229);
  --footer-text-color: rgb(84, 92, 86);
  --navbar-color: white;
  --text-color: black;
}

.dark{
  --bg-color: black;
  --bg-image: linear-gradient(to right, rgb(43, 120, 120), black, rgb(43, 120, 120), black);
  --h1-color: white;
  --p-color: white;
  --footer-color: rgb(62, 79, 67);
  --footer-text-color: white;
  --navbar-color: rgb(62, 79, 67);
  --text-color: white;
}

.loginTitle{
  color: var(--text-color);
}

.loginDesc{
  color: var(--text-color);
}

.loginText{
  color: var(--text-color);
}

.footer-texts{
  color: var(--footer-text-color);
}

.home{
  margin-top: 100px;
}

.custom-navbar{
  background-color: var(--navbar-color);
  background-image: var(--bg-image);
}

.nav-link{
  color: var(--h1-color)
}

h1{
  color: var(--h1-color);
}

p{
  color: var(--p-color);
}

.app{
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

.footers{
  background-color: var(--footer-color);
  background-image: var(--bg-image);
}

/* .moon-button{
  
} */

.homeContainer{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-around;
}

.login-btn {
  background-color: #2F8F9D;
}

@media (min-width: 768px) {
  .login-btn {
    height: 45px;
    width: 120px;
  }
}

@media (max-width: 767px) {
  .login-btn {
    height: 35px;
    width: 80px
  }
}


.loginMargin{
  margin-top: 100px;
}