<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.development.js"></script>
</head>
<body>
    {{>navbar}}
    <h1>This is Home page!</h1>
    {{>footer}}
    <script src="/src/components/navbar.jsx"></script>
</body>
</html>