.choose-file-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 44px;
  background: #b3e8e5;
  border-radius: 15px;
  text-align: center;
  color: #000000;
  font-size: 14px;

  cursor: pointer;
  outline: none;
  transition: background-color 0.5s;
}
.choose-file-button:hover {
  background-color: #087572;
}
.upload-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  background: #0a2647;
  border-radius: 15px;
  text-align: center;
  color: #000000;
  font-size: 14px;
}
.uploaded-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 44px;
  background: #0a2647;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-left: 35px;
  font-size: 14px;
}
