.side,
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.body {
  margin-top: 0.8rem;
  font-size: 20px;
}

.side a,
.body a,
.body h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.side img {
  height: 40px;
  margin-right: 0.5rem;
}

.body h2 svg {
  margin-right: 0.5rem;
}

.dropdown-menu {
  display: none;
  cursor: pointer;
  margin-top: 0.8rem;
}

.open .dropdown-menu {
  display: flex;
}

.dropdown-menu i {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .body.open h2,
  .body.open .round-button {
    display: none;
  }
}
